/*
    base
*/

/********************************************
  Recet
 *******************************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td,input,textarea,select,option,span{
margin:0; padding:0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td{
border:none;margin:0; padding:0;
}
table{
border-collapse:collapse; border-spacing:0;margin:0; padding:0;
}
fieldset, img{
border:0;
}
address, caption, cite, code, dfn, em, strong, th, var{
font-style:normal; font-weight:normal;
}
ol, ul{
list-style:none;
font-style: normal;
font-weight: normal;
}
caption, th{
text-align:left;
}
h1, h2, h3, h4, h5, h6{
font-size:100%; font-weight:normal;
}
q:before, q:after{
content:”;
}
abbr, acronym{
border:0;
} 

/********************************************
  Text
 *******************************************/

@charset "Shift_JIS";

body,table,td,div,ol,li{

  font-family:'メイリオ',Century,Arial,sans-serif;

  font-family:"メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;

  font-size:13px;
  color:#666666;
	/*line-height:150%;*/
}

input,textarea,select,option{

  font-family:'メイリオ',Century,Arial,sans-serif;
  font-size:13px;
  color:#333333;
}


/********************************************
  Scroll
 *******************************************/

body {

  scrollbar-highlight-color:#FFFFFF;
  scrollbar-shadow-color:#FFFFFF;
  scrollbar-face-color:#FFFFFF;
  scrollbar-base-color:#C0C0C0;
  scrollbar-3dlight-color:#C0C0C0;
  scrollbar-darkshadow-color:#C0C0C0;

  /*三角矢印の色*/
  scrollbar-arrow-color:#F2005B;

  /*移動バーの下の色*/
  scrollbar-track-color:#F1F0DA;

  /*背景*/
  /*background-image: url('../img/bg.png');
  background-repeat: repeat-x;
  background-position: left top;
  background-color:#FCF4EB;*/

}

body#IFRAME{
  background-color: #FFFFFF;
  background-image: url('');
}
body#BODY_INDEX{
background-color:#FCF4EB;
}

/********************************************
  Link
 *******************************************/
a:link,a:visited,a:active {
  text-decoration: none;
  font-weight:normal;
  color:#666666;
}
	a:hover {
  	color:#F2005B;
	}

/********************************************
  Image
 *******************************************/
img { 
  border:0;
  vertical-align: middle;
}
	/********* A Img*/
	a:hover img  {
	  filter: alpha(opacity=80);
	  -moz-opacity:0.8;
	  opacity:0.8;
	  border-style: none;
	}


/********************************************
  Input ,Select
 *******************************************/
input,select,option{
vertical-align:middle;
}

/********************************************
  Iframe
 *******************************************/
iframe{
margin:0;padding:0;
}

/********************************************
  hr
 *******************************************/
hr{
margin:10px 0 5px 0;
}

/********************************************
  Page Layout
 *******************************************/

#WRAPPER{
text-align:center;
}

#PAGE_WID{
width:1035px;
}

#PAGE_WID_INDEX{
width:1000px;
border-left:1px solid #C0C0C0;
border-right:1px solid #C0C0C0;
}

#WRAPPERS{
margin-right: auto;margin-left: auto;
font-family:'メイリオ',Century,Arial,sans-serif;
text-align:left;
background-color:#ffffff;
}


#WAKU_TBL{
width:1000px;
border-left:1px solid #C0C0C0;
}



#WAKU_LEF{
width:225px;width:210px;
text-align:left;
vertical-align:top;
}

	#LOGO{
	width:106px;height:38px;
	margin:5px 10px 5px 15px;
	background-image: url('../img/logo.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	}

	#LOGIN_USER{
	height:40px;
	margin:5px 0 5px 0px;
	padding-left:10px;
	/*border-bottom:1px solid #C0C0C0;*/
	}
		#LOGIN_USER .logoff{
		margin-left:10px;
		padding:0px 0 0 0;
		font-size:90%;
		width:60px;height:25px;
		/*line-height:100%;*/
		}

		#LOGIN_USER .user_name{
		font-size:100%;
		width:130px;height:25px;
		/*line-height:100%;*/
		border:none;
		background-color:#F7F7F7;
		background-color:#F3F3F3;
		padding:5px 5px 2px 5px;
		}

		#LOGIN_FORM.user_name{
		font-size:100%;
		width:130px;height:25px;
		padding:5px 5px 2px 5px;
		}

	#SIDE_MENU{
	background-color:#ffffff;
	width:205px;
	margin:10px 5px 5px 5px;
	}

		#SIDE_MENU div{
		height:27px;
		padding:3px 0 0 10px;
		font-size:110%;
		background-color: #FFDFDF;
		margin-bottom:5px;
		}

		#SIDE_MENU ul{
		margin:5px 0 10px 10px;
		}		

		#SIDE_MENU li{
		margin:5px 0 0 0;
		font-size:110%;
		padding:0 0 0 20px;
		background-image: url('../img/ico_side_menu.png');
		background-repeat: no-repeat;
		background-position: left top;
		}

		#SIDE_MENU li.admin_menu{
		margin:5px 0 0 0;
		font-size:110%;
		padding:0 0 0 20px;
		background-image: url('../img/ico_side_menu_adm.png');
		background-repeat: no-repeat;
		background-position: left top;
		}

		#SIDE_MENU li.menu_select a{
		color:#F2005B;
		}

		

	#TEL_MODULE{
	margin:5px 5px 5px 7px;
	width:205px; height:180px;
	background-color:#ffffff;
	}


#WAKU_RIG{
width:780px;
vertical-align:top;
position:relative;
}

	#PANKUZU{
	height:20px;
	padding:5px 5px 3px 10px;
	border-bottom:1px solid #C0C0C0;
	background-color:#F7F7F7;
	}

		#PANKUZU span{
		background-image: url('../img/ico_pankuzu.png');
		background-repeat: no-repeat;
		background-position: left 5px;
		padding:0 0 0 15px;
		margin:0 10px 0 0;
		}

		#PANKUZU span.select_page{
		font-size:110%;
		font-weight:bold;
		}
	#PANKUZU table{width:760px;}
	#PANKUZU td.help{width:30px;}
	#PANKUZU td.keikoku{width:30px;}


	#CONTENTS{width:780px;
	/*overflow-y:auto;height:580px;*/
	/*padding:0 7px 0 7px;*/
	}

#CONTENTS b{
font-weight:bold; 
margin-left:3px;margin-right:3px;
font-size:120%;
color:#555555;
}


#FOOTER{
height:50px;
text-align:center;
background-color:#E7E7E7;
border-top:1px solid #C0C0C0;
}
	/*---------------------
	  FOOTER
 	---------------------*/
	#COPYRIGHT{
	margin-top:15px;
	font-family:'メイリオ',Arial,sans-serif;
	font-size:13px;
	}
#FOOTER_INDEX{
height:50px;
text-align:center;
background-color:#E7E7E7;
border-top:1px solid #C0C0C0;
border-bottom:1px solid #C0C0C0;
}



/********************************************
  Common Layout
 *******************************************/

span {margin:0 7px 5px 0;}

p{margin:7px 0 0 0;}

div.danraku{margin:7px 0 0 0;}



/*大見出し*/
h2{
color:#333333;
background-color:#EBE8BE;
margin:10px 7px 7px 7px;
padding:5px 10px 2px 20px;
}

	h2 span.h2_ttl{width:680px;}
	h2 input{height:20px;color:#ffffff;width:20px;background-color:#C9BF50;}

	/*大見出し*/
	h5{
	color:#333333;
	background-color:#EBE8BE;
	margin:5px 0px 0px 0px;
	padding:5px 10px 2px 20px;
	}


/*中見出し*/
h3{
font-size:110%;
color:#333333;
margin-top:20px;
margin-bottom:3px;
background-image: url('../img/ico_h.gif');
background-repeat: no-repeat;
background-position: left 3px;
padding-left:25px;
}
h3.sh3{
font-size:110%;
color:#333333;
margin-top:0px;
margin-bottom:3px;
background-image: url('../img/ico_h.gif');
background-repeat: no-repeat;
background-position: left 3px;
padding-left:25px;
}

	/*小見出し*/
	h4{
	color:#333333;
	background-color:#EBE8BE;
	margin:10px 0 5px 0;
	padding:5px 10px 2px 10px;
	border-bottom:2px solid #E4E9C9;
	}
	/*小見出し*/
	h4.ttl{
	color:#333333;
	background-color:#D8ECBD;
	margin:10px 0 5px 0;
	padding:5px 10px 2px 10px;
	border-bottom:2px solid #E4E9C9;
	}

	/*小見出し*/
	h6{
	color:#333333;
	margin:10px 0 5px 0;
	padding:5px 10px 2px 10px;
	/*border-bottom:1px dashed #C0C0C0;*/
	}



/*内容*/
div.in{
margin:15px 0 20px 0;
padding:0 20px 0 20px;
word-wrap: break-word;
position:relative;
}

/*枠付き部分*/
div.inbox{
margin:0;margin-bottom:10px;
padding:10px 20px 10px 20px;padding:5px 20px 10px 20px;
word-wrap: break-word;
background-color:#F2F0D7;
border:2px solid #E4E9C9;
}

/*枠付きエリア（テーブルのセル等）*/
.inbox{
margin:0;margin-bottom:10px;
padding:10px 20px 10px 20px;padding:5px 20px 10px 20px;
word-wrap: break-word;
background-color:#F2F0D7;
border:2px solid #E4E9C9;
}


/*注釈の部分*/
div.inmess{
text-align:right;
margin:0;margin-bottom:10px;
padding:5px 5px 5px 5px;
word-wrap: break-word;
background-color:#F2F0D7;
/*border:2px solid #E4E9C9;*/
}

/*進捗日の部分*/
div.inprogress{
text-align:center;
margin:0;margin-bottom:10px;text-align:right;
}
	div.inprogress table{
	background-color:#FFECD9;
	border:1px solid #F25B00;
	}
	div.inprogress td{
	color:#333333;
	padding:5px 10px 5px 10px;
	word-wrap: break-word;
	}

div.inboxin{
margin:0;margin-bottom:10px;
padding:10px 7px 10px 7px;
word-wrap: break-word;
background-color:#E4E9C9;
}

td{/*
padding:0;height:32px;*/
}

table#TBL{
margin:0;padding:0;
}

#TBL a:link{color:#333333;text-decoration:none;}
#TBL a:visited{color:#333333;text-decoration:none;}
#TBL a:active{color:#333333;text-decoration:none;}
#TBL a:hover{color:#000000;text-decoration:underline;}

	#TBL td{
	color:#333333;padding:0;height:32px;padding:3px 5px 3px 5px;
	}


.t_waku{
border-top:1px solid #C0C0C0;
border-left:1px solid #C0C0C0;
}
.tt_waku{
border-top:1px solid #C0C0C0;
border-left:1px solid #C0C0C0;
margin-top:2px;
margin-bottom:2px;
}
.t_waku_lef{
border-left:1px solid #C0C0C0;
}
.t_waku_top{
border-top:1px solid #C0C0C0;
}

	.c_waku{
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
	background-color:#ffffff;
	padding:2px 5px 2px 5px;line-height:120%;
	}
	.c_waku_bot{
	border-bottom:1px solid #C0C0C0;
	background-color:#ffffff;
	padding:2px 5px 2px 5px;
	}
	.c_waku_rig{
	border-right:1px solid #C0C0C0;
	background-color:#ffffff;
	padding:2px 5px 2px 5px;
	}
	.c_waku_lef{
	border-left:1px solid #C0C0C0;
	background-color:#ffffff;
	padding:2px 5px 2px 5px;
	}
	.c_waku_none{
	background-color:#ffffff;
	padding:2px 5px 2px 5px;
	}

	.c_waku_bg_none{
	background-color:#ffffff;
	}

	/*共通、項目セル（幅なし）*/
	#TBL td.clm{
	text-align:center;
	background-color:#DFDFDF;
	padding:3px 5px 3px 5px;
	color:#666666;
	}

	/*共通、項目セル（幅指定）*/
	#TBL td.clm_label{
	width:90px;
	text-align:center;
	background-color:#DFDFDF;
	padding:3px 5px 3px 5px;
	color:#666666;
	}


	/*共通、データ変更不可セル*/
	#TBL td.noedit{
	background-color: #F4F2DB;
	padding:3px 5px 3px 5px;
	color:#666666;
	}


	/*項目行*/
	tr#ROW_CLM{}

	tr#ROW_CLM td{
	text-align:center;
	background-color:#DFDFDF;
	height:30px;
	color:#666666;
	}

	tr#ROW_CLM_S td{
	text-align:center;
	background-color:#DFDFDF;
	height:25px;
	color:#666666;
	}

	/*データ変更不可行*/
	tr#ROW_NOEDIT{}

	tr#ROW_NOEDIT td{
	background-color: #F4F2DB;
	height:30px;
	color:#666666;
	}

		/*絞込行*/
		tr#ROW_SEARCH{}

		tr#ROW_SEARCH td{
		background-color:#DFDFDF;
		height:30px;
		color:#666666;
		}


	/*最下行（合計など）*/
	tr#ROW_SUM{}

	tr#ROW_SUM td{
	font-weight:bold;
	border-top:2px solid #C0C0C0;
	}


	/*追加フォーム行*/
	tr#ROW_ADD_FORM{}

	tr#ROW_ADD_FORM td{
	border-top:2px solid #C0C0C0;
	background-color:#FDEAF3;
	}

	/*ボタン行*/
	tr#ROW_BTN_RIG td{
	margin:0;padding:3px;
	border-top:2px solid #C0C0C0;
	background-color:#DFDFDF;
	text-align:right;
	}
	tr#ROW_BTN_LEF td{
	margin:0;padding:3px;
	border-top:2px solid #C0C0C0;
	background-color:#DFDFDF;
	text-align:left;
	}

	/*確定データ行*/
	tr#ROW_SET{}

	tr#ROW_SET td{
	background-color:#FFE1E1;
	}

	/*ボツデータ行*/
	tr#ROW_BOTSU{}

	tr#ROW_BOTSU td{
	background-color:#EFEFEF;
	background-color:#E4E9C9;
	}

#IN_TBL{margin:0;padding:0;}
#IN_TBL td{margin:0;padding:0;height:20px;}


#P_CHK_TBL{}
#P_CHK_TBL td{padding-left:10px;padding-right:10px;}

#RIREKI{
overflow-y:scroll;
background-color:#FFFFFF;
height:100px;
}
#RIREKI td{
border-bottom:1px dashed #C0C0C0;

}

ul #SMALL_LIST{}
#SMALL_LIST li{float:left;}

/********************************************
  Info Layout
 *******************************************/
#INFO{
margin:10px 0px 10px 7px;
text-align:left;
}

.info_scroll_y{overflow-y:scroll;height:220px;width:760px;}

	#INFO td{line-height:110%;}

		#PROGRESS_JUMP{
		margin:0;padding:0;
		margin-top:3px;
		/*width:265px;*/height:55px;
		overflow-y:scroll;
		}
		#PROGRESS_JUMP span{
		background-image: url('../img/ico_pankuzu.png');
		background-repeat: no-repeat;
		background-position: left 5px;
		padding:0 0 0 15px;
		margin:0 10px 0 0;
		}

		#PROGRESS_JUMP a{color:red;}


		.status_new{
		margin:0;padding:0;
		background-image: url('../img/mark_status_new.png');
		background-repeat: no-repeat;
		background-position: 210px 75px;
		}
		.status_jizen{
		margin:0;padding:0;
		background-image: url('../img/mark_status_jizen.png');
		background-repeat: no-repeat;
		background-position: 210px 75px;
		}
		.status_jisshi{
		margin:0;padding:0;
		background-image: url('../img/mark_status_jisshi.png');
		background-repeat: no-repeat;
		background-position: 210px 75px;
		}
		.status_jigo{
		margin:0;padding:0;
		background-image: url('../img/mark_status_jigo.png');
		background-repeat: no-repeat;
		background-position: 210px 75px;
		}
		.status_end{
		margin:0;padding:0;
		background-image: url('../img/mark_status_end.png');
		background-repeat: no-repeat;
		background-position: 210px 75px;
		}


/********************************************
  Search Layout
 *******************************************/

#SEARCH{
width:763px;
margin:10px 10px 0px 7px;
padding:10px 7px 10px 15px;
text-align:left;
background-image: url('../img/bg_search.png');
background-repeat: no-repeat;
background-position: left top;
/*background-color:#E8FFE8;background-color: #F5F3E9;background-color: #EDEFDA;
border:1px solid #C0C0C0;*/
}

#SEARCH_BIG{
width:763px;
margin:10px 10px 0px 7px;
padding:10px 7px 10px 15px;
text-align:left;
background-image: url('../img/bg_search_b.png');
background-repeat: no-repeat;
background-position: left top;
/*background-color:#E8FFE8;background-color: #F5F3E9;background-color: #EDEFDA;
border:1px solid #C0C0C0;*/
}


#SEARCH_MID{
width:763px;
margin:0px 10px 0px 7px;
padding:10px 7px 10px 15px;
text-align:left;
background-image: url('../img/bg_search_mid.png');
background-repeat: repeat-y;
background-position: left -10px;
/*background-color:#E8FFE8;background-color: #F5F3E9;background-color: #EDEFDA;
border:1px solid #C0C0C0;*/
}

	/*#SEARCH span{margin:0 7px 0 0;}*/

	#SEARCH p{margin:7px 0 0 0;}

#SEARCH_UNDER{
width:763px;
margin:0px 10px 10px 7px;
padding:3px 7px 3px 7px;
text-align:right;
background-image: url('../img/bg_search_under.png');
background-repeat: no-repeat;
background-position: left bottom;
}
	#SEARCH_UNDER table{width:100%;}

#SEARCH_D{
width:743px;
margin:10px 10px 0px 7px;
padding:10px 7px 10px 15px;
text-align:left;
background-image: url('../img/bg_search_d.png');
background-repeat: no-repeat;
background-position: left top;

}
	#SEARCH_D p{margin:7px 0 0 0;}

#SEARCH_D_UNDER{
width:743px;
margin:0px 10px 10px 7px;
padding:3px 7px 3px 7px;
text-align:right;
background-image: url('../img/bg_search_d_under.png');
background-repeat: no-repeat;
background-position: left bottom;
}
	#SEARCH_D_UNDER table{width:100%;}



#DATA_SEARCH{
width:740px;
margin:10px 10px 10px 7px;
background-color: #EFF7EA;
padding:10px 7px 3px 7px;
border:1px solid #C0C0C0;
text-align:left;
}

	/*#DATA_SEARCH span{margin:0 7px 5px 3px;}*/

#SEARCH_FREE{
margin:0px 10px 10px 7px;
background-color:#E8FFE8;
padding:3px 7px 3px 7px;
border:1px solid #C0C0C0;
text-align:left;
}

	/*#SEARCH_FREE span{margin:0 7px 5px 3px;}*/




#LIST{
margin:10px 0 10px 7px;
text-align:left;
}
#LIST a{color:red;}


/*検索結果*/
#SEARCH_RESULT{
margin:5px 7px 3px 7px;
}

	/*検索結果　件数表示*/
	#SEARCH_RESULT b{
	margin-left:3px;margin-right:3px;
	font-size:120%;
	}

	/*検索結果　ページボタン*/
	#SEARCH_RESULT input{
	height:25px;
	width:20px;
	border:0;
	}

	/*検索結果　選択中のページボタン*/
	#SEARCH_RESULT input.page_select{
	font-size:120%;
	font-weight:bold;
	color:#ff00ff;
	}

/*1ページの表示件数フォーム*/
#KENSU_FORM{
width:256px;height:52px;
margin:10px 0 0px 0;
padding:10px 7px 10px 7px;
background-image: url('../img/bg_kensu_form.png');
background-repeat: no-repeat;
background-position: left top;
}


/********************************************
  Tab Layout
 *******************************************/

#TAB{
width:763px;margin-left:7px;margin-bottom:0px;
}

	#TAB table{
	width:100%;
	}

		/*タブ共通*/
		#TAB td{
		padding:5px 3px 3px 3px;
		text-align:center;height:40px;line-height:100%;
		}

		/*タブなしのセル*/
		#TAB td.tab_no{
		background-color:#ffffff;
		border:none;
		border-bottom:2px solid #C0C0C0;
		}

		/*タブなしのセル*/
		#TAB td.tab_space{
		background-color:#ffffff;
		border:none;
		border-bottom:2px solid #C0C0C0;
		/*width:10px;*/
		}

		/*選択中タブ*/
		#TAB td.tab_select{
		border:none;
		border-right:2px solid #C0C0C0;
		border-top:2px solid #C0C0C0;
		border-left:2px solid #C0C0C0;
		background-color:#F9F8EC;
		color:#000000;
		letter-spacing:3px;
		border-bottom:solid 1px #F9F8EC;
		}
			#TAB td.tab_select a{color:#000000;}

		/*未選択タブ*/
		#TAB td.tab_noselect{
		border:1px solid #C0C0C0;
		border-bottom:2px solid #C0C0C0;
		letter-spacing:3px;
		}


		#TAB td.tab_wid_l{width:120px;}
		#TAB td.tab_wid_m{width:105px;}
		#TAB td.tab_wid_s{width:90px;}

		/*電話マーク*/
		#TAB td.tab_tel{
		width:60px;height:40px;
		padding:0;margin:0;
		border-bottom:2px solid #C0C0C0;
		}	
		#TAB td.tab_tel a{
		display:block;
		background-image: url('../img/ico_tel.png');
		background-repeat: no-repeat;
		background-position: center 2px;
		width:60px;height:40px;
		}
		/*電話マーク*/
		#TAB td.tab_tel a:hover{
		display:block;
		background-image: url('../img/ico_tel.png');
		background-repeat: no-repeat;
		background-position: center -38px;
		width:60px;height:40px;
		}


/********************************************
  Data Menu
 *******************************************/
/*#DATA_MENU{text-align:center;
word-wrap: break-word;
}

#DATA_MENU span{
background-image: url('../img/ico_arrow_down.png');
background-repeat: no-repeat;
background-position: 15px 5px;
padding-left:30px;
}*/

h2 li{
float:left;
background-image: url('../img/ico_arrow_down.png');
background-repeat: no-repeat;
background-position: 0px 5px;
padding-left:15px;padding-right:20px;
margin-bottom:20px;
}

/*権限　見出し*/
div#h2_ttl{
color:#333333;
background-color:#EBE8BE;
margin:10px 7px 10px 7px;
padding:5px 10px 7px 20px;
font-size:110%;
}
	div#h2_ttl li{
	float:left;
	background-image: url('../img/ico_arrow_down.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left:15px;padding-right:20px;
	margin-bottom:5px;

/*通話記録　非表示部分*/	}
#Rsub{
margin-top:7px;
}

#CALL_COMMENTS{
height:67px;
overflow-y:scroll;
background-color:#F4F2DB;background-color:#ffffff;
text-align:left;
margin:5px 7px 10px 7px;


}

#CALL_COMMENTS li{float:left;color:#666666;padding:5px;}
#CALL_COMMENTS ul{margin:0 10px 0 10px;border-bottom:1px dashed #C0C0C0;background-color:#ffffff;}
#CALL_COMMENTS li.call_ymd{width:90px;/*border-bottom:1px dashed #C0C0C0;*/}
#CALL_COMMENTS li.call_comment{width:600px;/*border-bottom:1px dashed #C0C0C0;*/}


/********************************************
  Data Layout
 *******************************************/
#DATA_M{
margin-left:7px;
width:763px;
padding-top:10px;
background-color:#F9F8EC;
border-right:2px solid #C0C0C0;
border-left:2px solid #C0C0C0;
text-aling:center;
}

#DATA{
margin-left:7px;
width:763px;
padding-top:10px;
margin-bottom:10px;
background-color:#F9F8EC;
border-right:2px solid #C0C0C0;
border-bottom:2px solid #C0C0C0;
border-left:2px solid #C0C0C0;
}

#DATA_NO_LINE{
margin-left:7px;
width:763px;
padding-top:10px;
margin-bottom:10px;
}


		/*なし*/
		#D_PROGRESS_YMD{
		text-align:right;
		padding:0 10px 0 7px;
		margin:10px 0 20px 0;
		}
		#D_PROGRESS_YMD span{
		background-color:#EFEFEF;
		color:#000000;
		padding:5px;
		border:1px solid #F25B00;
		margin:0 0 0 10px;
		}

#UNDER_BTN{
background-color:#E7E3DC;
margin:30px 7px 7px 7px;
padding:10px 10px 15px 10px;
}
	#UNDER_BTN table.data_btn{
	width:745px;
	width:715px;
	}

/********************************************
  
 *******************************************/

/*
div.waku_progress_top{
background-image: url('../img/bg_progress_waku.png');
background-repeat: no-repeat;
background-position: top left;
margin:5px 0 0 0;padding:0 0 0 10px;
height:3px;
}
div.waku_progress_mid{
margin:0;padding:0;
background-image: url('../img/bg_progress_waku_mid.png');
background-repeat: repeat-y;
background-position: top left;
margin:0 0 0 0;padding:10px 10px 10px 10px;
}

div.waku_progress_bot{
margin:0;padding:0;height:30px;
background-image: url('../img/bg_progress_waku.png');
background-repeat: no-repeat;
background-position: bottom left;
margin:0 0 10px 0px;padding:0 0 0 0px;
}
*/

div.waku_progress{
margin:10px 0px 10px 10px;padding:10px 10px 10px 13px;
margin:10px 0px 10px 0px;padding:10px 10px 10px 13px;
background-color:#F0E4CE;
}
div.waku_progress_s{
margin-top:5px;text-align:right;padding-right:10px;
}
/********************************************
  Else Layout
 *******************************************/



/*2段組み*/
#D_LEF{
margin:0;padding:0;
float:left;width:40%;
text-align:left;
}
#D_RIG{
margin:0;padding:0;
float:right;width:40%;
}

/*ステータスマーク*/
.status_area{
width:762px;
position:absolute;top:50px;
text-align:right;
margin:0;padding-right:5px;
}
/*アラート*/
#ALERT{

}
.alert_box{
position:absolute;
margin-top:-150px;
margin-left:150px;
width:350px;
border:2px solid #FF0000;
background-image: url('../img/mark_kmess.png');
background-repeat: no-repeat;
background-position: 10px 5px;
background-color:#ffffff;
padding-bottom:10px;
}
.alert_mess{
text-align:left;
margin:13px 10px 10px 50px;
color:#000000;
}
.alert_btn{
text-align:center;
}

/*メッセージ*/
/*エラー*/
.emess{
height:30px;
margin:8px 0 0 10px;
padding:4px 0 0 40px;
background-image: url('../img/mark_emess.png');
background-repeat: no-repeat;
background-position: left center;
color:#FF0000;font-size:130%;
}
/*完了*/
.cmess{
height:30px;
margin:8px 0 0 10px;
padding:4px 0 0 40px;
background-image: url('../img/mark_cmess.png');
background-repeat: no-repeat;
background-position: left center;
color:#483D8B;font-size:130%;
}
/*警告*/
.kmess{
height:30px;
margin:8px 0 0 10px;
padding:4px 0 0 40px;
background-image: url('../img/mark_kmess.png');
background-repeat: no-repeat;
background-position: left center;
color:#009933;font-size:130%;
}
/*無データマーク*/
.nashi_mark{
display:block;
width:250px;height:55px;
background-image: url('../img/mark_nashi.png');
background-repeat: no-repeat;
background-position: 50px 10px;
}
/*未データマーク*/
.nodata_mark{
display:block;
width:250px;height:55px;
background-image: url('../img/mark_nodata.png');
background-repeat: no-repeat;
background-position: 50px 10px;
}
/*新規マーク（かぶる）*/
.newdata_mark_abs{
position:absolute;top:10px;
/*display:block;*/
width:250px;height:55px;
background-image: url('../img/mark_newdata.png');
background-repeat: no-repeat;
background-position: 50px top;
margin-bottom:0;}

/*新規マーク（かぶらない）*/
.newdata_mark{
position:static;top:10px;
/*display:block;*/
width:250px;height:55px;
background-image: url('../img/mark_newdata.png');
background-repeat: no-repeat;
background-position: 50px top;
margin-bottom:0;}

	/*新規マーク 【通話記録】ポップアップ*/
	.newdata_mark_tel{
	display:block;
	background-image: url('../img/mark_newdata.png');
	background-repeat: no-repeat;
	background-position: 600px 0px;
	margin-bottom:0;}

/*既存マーク（かぶる）*/
.olddata_mark_abs{
position:absolute;top:10px;
display:block;
width:250px;height:55px;
background-image: url('../img/mark_olddata.png');
background-repeat: no-repeat;
background-position: 50px top;
margin-bottom:0;}

/*既存マーク（かぶらない）*/
.olddata_mark{
position:static;top:10px;
display:block;
width:250px;height:55px;
background-image: url('../img/mark_olddata.png');
background-repeat: no-repeat;
background-position: 50px top;
margin-bottom:0;}
	/*既存マーク 【通話記録】ポップアップ*/
	.olddata_mark_tel{
	display:block;
	background-image: url('../img/mark_olddata.png');
	background-repeat: no-repeat;
	background-position: 600px top;
	margin-bottom:0;}
/*Webからマーク*/
.webdata_mark{
position:absolute;
display:block;
width:150px;height:45px;
background-image: url('../img/mark_webdata.png');
background-repeat: no-repeat;
background-position: 30px 0px;
margin-bottom:0;
}
/*下矢印マーク*/
.arrow_down{
/*position:absolute;*/
display:block;
width:500px;height:30px;
background-image: url('../img/arrow_down.png');
background-repeat: no-repeat;
background-position: 430px top;
margin-bottom:0;
}

/*ページトップ*/
.page_top{
display:block;
width:105px;height:16px;
background-image: url('../img/btn_page_top.png');
background-repeat: no-repeat;
background-position: left top;
margin:7px 0 10px 7px;padding:0;
}
	.page_top a:hover{
	display:block;
	background-image: url('../img/btn_page_top.png');
	background-repeat: no-repeat;
	background-position: left -33px;
	}


.info_mess{
padding:5px 0 5px 35px;
height:60px;
background-image: url('../img/mark_down.png');
background-repeat: no-repeat;
background-position: 5px 3px;
overflow-y:scroll;
}
.info_mess a:link,a:visited,a:active{
	color:#333333;
	text-decoration:none;
	}
.info_mess a:hover{
	color:red;
	text-decoration:underline;
	}

/* 【通話履歴】*/
.ico_face_smile{
background-image: url('../img/ico_face_smile.png');
background-repeat: no-repeat;
background-position: 105px 80%;
}
.ico_face_angry{
background-image: url('../img/ico_face_angry.png');
background-repeat: no-repeat;
background-position: 105px 80%;
}
.ico_face_common{
background-image: url('../img/ico_face_common.png');
background-repeat: no-repeat;
background-position: 105px 80%;
}
.ico_face_worry{
background-image: url('../img/ico_face_worry.png');
background-repeat: no-repeat;
background-position: 105px 80%;
}

.ff{
background-image: url('../img/img_ff.png');
background-repeat: no-repeat;
background-position: 190px 7px;
background-position: 215px 25px;
}

/********************************************
  Kit Layout
 *******************************************/
/*実験キット調整表*/
#KIT{
}

div#KIT_OBI{
overflow:auto;
width:705px;
height:200px;
margin:0;padding:0;
text-align:left;
}
#KIT_OBI table{
margin-right:0;
border-top:1px solid #C0C0C0;
border-left:1px solid #C0C0C0;
}

#KIT_TBL{
margin:0;padding:0;
border-top:1px solid #C0C0C0;
border-left:1px solid #C0C0C0;
}

#KIT_TBL td{
	padding:2px 5px 2px 5px;

border-right:1px solid #C0C0C0;
border-bottom:1px solid #C0C0C0;
}

	#KIT_TBL td.kit_clm{
	background-color:#DFDFDF;text-align:center;
	}

	#KIT_TBL td.kit_mm{
	background-color:#FFE1A4;text-align:center;
	}

	#KIT_TBL tr#ROW_CLM_DD{
	}

	#ROW_CLM_DD td{
	background-color:#F3F3F3;
	text-align:center;
	}

	#ROW_CLM_DD td.wee{
	background-color:#F3F3F3; 
	width:17px;
	padding:0;font-size:80%;
	}


	#KIT_TBL tr#ROW_OBI{
	}

	#ROW_OBI td{
	background-color:#F3F3F3;
	}

	#ROW_OBI td.wee{
	background-color:#F3F3F3; 
	background-color:#FFFFFF; 
	width:17px;
	padding:0;
	}
	#ROW_OBI td.keep1{background-color:#9FDFF4;}
	#ROW_OBI td.keep2{background-color:#FFC855;}
	#ROW_OBI td.keep3{background-color:#9FDFF4;}
	#ROW_OBI td.keep4{background-color:#FDC4EA;}
	#ROW_OBI td.keep5{background-color:#9FDFF4;}
	#ROW_OBI td.keep6{background-color:#D3E994;}

		#KIT_TBL td.sat{
		background-color:#DFDFDF;
		}
		#KIT_TBL td.sun{
		background-color:#DFDFDF;
		}
/********************************************
  Lecturer Layout
 *******************************************/
/*講師スケジュール表*/
#LECTURER{margin-left:7px;margin-bottom:15px;}

#LECTURER table{
border-top:1px solid #C0C0C0;
border-left:1px solid #C0C0C0;
}
#LECTURER td{
padding:3px;
border-right:1px solid #C0C0C0;
border-bottom:1px solid #C0C0C0;
}


#LECTURER table#LECTURER_WAKU{
margin:0;padding:0;
border:none;
}


	#LECTURER_WAKU td#LEC_TTL{
	border:none;
	vertical-align:top;
	margin:0;padding:0;
	text-align:left;
	}

		#LEC_TTL table{
		vertical-align:top;
		margin:0;padding:0;
		text-align:left;

		}

		#LEC_TTL table td{background-color:#F3F3F3;}

	#LECTURER_WAKU td#LEC_SKE{
	border:none;
	vertical-align:top;
	margin:0;padding:0;
	}

	#LEC_SKE div table{
	margin:0;padding:0;
	}

	#LEC_SKE div#LEC_SKE_SCR_B{
	overflow-x:scroll;	
	width:600px;
	margin:0;padding:0;
	}

		#LEC_SKE_SCR_B div{
		margin:0;padding:0;
		width:2300px;
		}

		#LEC_SKE_SCR_B td.lec{
		background-color:#F3F3F3;
		}
		#LEC_SKE_SCR_B td.lec_on{
		background-color:#E7FEC9;width:80px;
		}
		#LEC_SKE_SCR_B td.lec_no{
		background-color:#F3F3F3;
		}
		#LEC_SKE_SCR_B td.lec_next{
		background-color:#FFD7EB;
		color:red;
		}

	#LEC_SKE div#LEC_SKE_SCR{
	overflow-x:scroll;	
	width:695px;
	margin:0;padding:0;
	}

		#LEC_SKE_SCR div{
		margin:0;padding:0;
		width:2300px;
		}

		#LEC_SKE_SCR td.lec{
		background-color:#F3F3F3;
		}
		#LEC_SKE_SCR td.lec_on{
		background-color:#E7FEC9;width:80px;
		}
		#LEC_SKE_SCR td.lec_no{
		background-color:#F3F3F3;
		}
		#LEC_SKE_SCR td.lec_next{
		background-color:#FFD7EB;
		color:red;
		}

#LECTURER_WAKU td{
height:53px;
word-wrap: break-word;
}


#LECTURER_WAKU tr#LEC_DD{}

	#LEC_DD td{
	text-align:center;
	height:30px;
	}

	#LEC_DD td.lec{
	width:95px;
	text-align:center;
	height:30px;background-color:#F3F3F3;
	}

	#LEC_DD td.lec_no{
	height:30px;background-color:#F3F3F3;
	}

/********************************************
  Work_Calendar Layout
 *******************************************/
/*カレンダ*/
#WORK_CALENDAR{
margin-left:50px;margin-top:20px;
}

#WORK_CALENDAR tr#CALENDAR_DD{}

#WORK_CALENDAR tr#CALENDAR_DD td{width:80px;text-align:center;padding:7px;
background-color:#F7F7F7;}

#WORK_CALENDAR div.suu{width:80px;}
#WORK_CALENDAR span{margin:0 3px 0 3px;}

/********************************************
  Top School Layout
 *******************************************/

div.school_r_list{
overflow-y:auto;
height:120px;
width:744px;
}

/********************************************
  Zaiko Layout
 *******************************************/
#ZAIKO{}

#ZAIKO table{
/*margin-top:3px;
border:2px solid #C0C0C0;*/
}

#ZAIKO td.hassobutu_ttl{width:180px;}
#ZAIKO td.zaiko_no{width:20px;}

#ROW_MON{}
#ROW_MON td{
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
	background-color:#EFEFEF;
	height:37px;width:45px;
	text-align:center;
}
#ROW_MON td.common_mon{
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
	background-color:#EFEFEF;
	height:32px;width:91px;
	text-align:center;
}
#ZAIKO td.zaiko_su{
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
	width:42px;
	text-align:right;
	color:#333333;
	font-size:12px;
	padding:0 2px 0 1px;
}
#ZAIKO td.common_zaiko_su{
	border-right:1px solid #c0c0c0;
	border-bottom:1px solid #C0C0C0;
	width:42px;
	height:32px;
	font-size:12px;
	text-align:right;
	color:#333333;padding:0 2px 0 1px;
}

.su_ttl_clm{
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
	padding:2px 5px 2px 5px;height:32px;

}

#ROW_SYU{}
#ROW_SYU td{background-color:#ECF2FF;}
#ROW_ZAN{}
#ROW_ZAN td{background-color:#F3F3F3;}
#ROW_NYU{}
	#ROW_NYU td.su_ttl_clm{background-color:#F3F3F3;height:32px;}
	#ROW_NYU td.zaiko_su{background-color:#F3F3F3;}
	#ROW_NYU td.common_zaiko_su{background-color:#F3F3F3;}

#ROW_SYU{}
#ROW_SYU td{background-color:#DFDFDF;}
#ROW_ZAN{}
#ROW_ZAN td{background-color:#EAE6F9;}

#ZAIKO div.zaiko_scroll{overflow-x:scroll;width:515px;}
#ZAIKO div.zaiko_data{width:800px;}


/*------------------------------------------
　INFO セル幅
-------------------------------------------*/
/*【通話履歴】Call_List*/
.Info_Call_List_School_Name{width:250px;}
.Info_Call_List_Addr{width:240px;}
.Info_Call_List_Tel{width:130px;text-align:center;}
.Info_Call_List_Jisseki_Mark{width:80px;text-align:center;}

/*【通話記録（pop）】Tel_Data*/
.Info_Tel_Data_School_Name{width:250px;}
.Info_Tel_Data_Addr{width:240px;}
.Info_Tel_Data_Tel{width:140px;}


/*【発送詳細】Hasso_Data*/
.Info_Hasso_Data_Ymd{width:40px;text-align:center;}
.Info_Hasso_Data_Hasso_Saki{width:160px;}
.Info_Hasso_Data_Hasso_Subject{width:120px;}
.Info_Hasso_Data_Hokan_Saki{width:120px;}

/*【入庫詳細】Nyuko_Data*/
.Info_Nyuko_Data_Ymd{width:40px;text-align:center;}
.Info_Nyuko_Data_Nyuko_butu{width:160px;}
.Info_Nyuko_Data_Nyuko_Moto{width:120px;}
.Info_Nyuko_Data_Nyuko_Su{width:50px;}
.Info_Nyuko_Data_Ymds{width:70px;text-align:center;}

/*【FAX送信】Fax_Send*/
.Info_Fax_Send_School_Name{width:350px;}
.Info_Fax_Send_Fax{width:180px;text-align:center;}

/*【学校詳細】School_Data*/
.Info_School_Data_School_Name{width:250px;}
.Info_School_Data_Addr{width:240px;}
.Info_School_Data_Tel{width:130px;text-align:center;}
.Info_School_Data_Area{width:70px;text-align:center;}

/*【発送ｸﾞﾙｰﾌﾟ詳細】Hasso_Group_Data*/
.Info_Hasso_Group_Data_Name{width:260px;}
.Info_Hasso_Group_Data_Hokansaki{width:230px;}
.Info_Hasso_Group_Data_Program{width:230px;}

/*【実施台帳】Jisshi*/
.Info_Jisshi_Clm{width:70px;}
.Info_Jisshi_MoshikomiNo{width:60px;text-align:center;}
.Info_Jisshi_Ymd_Clm{width:60px;}
.Info_Jisshi_Ymd{width:80px;text-align:center;}
.Info_Jisshi_Main{width:323px;}
.Info_Jisshi_Teacher{width:222px;}
.Info_Jisshi_Space{width:112px;}
.Info_Jisshi_Su_Clm{width:40px;}
.Info_Jisshi_Su{width:60px;text-align:center;}
.Info_Jisshi_Way{width:37px;text-align:center;}

/*【在庫詳細】Nyuko_Data*/
.Info_Nyuko_Data_Hassobutu{width:230px;}
.Info_Nyuko_Data_Ymd{width:70px;text-align:center;}
.Info_Nyuko_Data_Nyuko_Su{width:100px;text-align:right;}
.Info_Nyuko_Data_Nyuko_Moto{width:200px;}

/*【権限詳細】Kengen_Data*/
.Info_Kengen_Data_Kengen_Name{width:150px;}
.Info_Kengen_Data_Shozoku{width:60px;}

/*【講師管理（各pop）】Koushi_Admin_Data*/
.Info_Koushi_Admin_Data_School_Name{width:250px;}
.Info_Koushi_Admin_Data_Area{width:60px;text-align:center;}
.Info_Koushi_Admin_Data_User{width:80px;text-align:center;}
.Info_Koushi_Admin_Data_Ymd{width:80px;text-align:center;}
.Info_Koushi_Admin_Data_JidouSu{width:60px;text-align:center;}



/*------------------------------------------
　KOMADO 
-------------------------------------------*/
#DATA_KOMADO{
text-align:left;
margin-left:7px;
padding-top:10px;
margin-bottom:10px;
background-color:#F9F8EC;
border:2px solid #E4E9C9;
}

#SEARCH_KOMADO{
width:486px;
margin:10px 0px 0px 7px;
padding:3px 7px 3px 15px;
text-align:left;
background-image: url('../img/bg_search_komado.png');
background-repeat: no-repeat;
background-position: left top;
/*background-color:#E8FFE8;
border:1px solid #C0C0C0;*/
}

	/*#SEARCH_KOMADO span{margin:0 7px 5px 3px;}*/

#SEARCH_KOMADO_UNDER{
width:486px;
margin:0px 0px 10px 7px;
padding:3px 7px 3px 7px;
text-align:right;
background-image: url('../img/bg_search_komado_under.png');
background-repeat: no-repeat;
background-position: left bottom;
}
	#SEARCH_KOMADO_UNDER table{width:100%;}


#FOOTER_KOMADO{
height:30px;
text-align:center;
margin-top:20px;
padding-top:5px;
padding-bottom:7px;
border-top:1px solid #C0C0C0;
}



/*------------------------------------------
　PAGE_WID
-------------------------------------------*/
/*DIR：通話記録（call) */
#PAGE_WID_KOMADO{width:500px;}
#PAGE_WID_KOMADO_CALL{width:705px;}
#PAGE_WID_KOMADO_FAX{width:600px;}

#PAGE_WID_KOMADO_SETTING{width:690px;}

#PAGE_WID_KOMADO_PRE{width:730px;}

#PAGE_WID_KOMADO_KOUSHI_ASAIN{width:790px;}

#PAGE_WID_KOMADO_SELECT_LIST_HYO{width:780px;}


/*------------------------------------------
　DATA_KOMADO Width
-------------------------------------------*/

	/*「Call」（通話記録）*/
	.Data_Call_Tel_Data{ width:690px; }

	/*「Fax」（通話記録）*/
	.Data_Fax_Fax_Send{ width:690px; }


	/*「Koushi_Asain」（講師アサイン詳細）*/
	.Data_Koushi_Asain_Data{ width:770px; }


/*------------------------------------------
　List Width  ディレクトリ名_画面名
-------------------------------------------*/
/*「recruit」（リクルート）学校検索　検索結果一覧*/
#Recruit_School_List{
}
	#Recruit_School_List td.RSL_School_Name{
	width:190px;
	}
	#Recruit_School_List td.RSL_Ka_Program_Name{
	width:215px;
	}
	#Recruit_School_List td.RSL_Ji_Program_Name{
	width:195px;
	}
	#Recruit_School_List td.RSL_Area_Name{
	width:40px;
	}

/*「recruit」（通話履歴）　*/
#Recruit_Call_List{
}
	#Recruit_Call_List td.RCL_Ymd_Hs{
	width:36px;text-align:center;
	}
	#Recruit_Call_List td.RCL_Who{
	width:140px;
	}
	#Recruit_Call_List td.RCL_Program_name{
	width:90px;
	}
	#Recruit_Call_List td.RCL_Status{
	width:195px;
	}
		#Recruit_Call_List td.RCL_Status_J{
		width:190px;
		}
	#Recruit_Call_List td.RCL_Comment{
	width:220px;
	}

/*「recruit」（リクルート）教員名集約　検索結果一覧*/
#Recruit_Teacher_Setting_List{
}
	#Recruit_Teacher_Setting_List td.RTSL_Teacher_Name{
	width:110px;
	}
	#Recruit_Teacher_Setting_List td.RTSL_Sex{
	width:40px;text-align:center;
	}
	#Recruit_Teacher_Setting_List td.RTSL_Gakunen{
	width:80px;
	}



/*「Call」（通話記録）　通話のみの教員一覧*/
#Call_Tell_Data_Teacher_List{
}
	#Call_Tell_Data_Teacher_List td.CTDTL_Teacher_Name{
	width:140px;
	}
	#Call_Tell_Data_Teacher_List td.CTDTL_Sex{
	width:50px;text-align:center;
	}
	#Call_Tell_Data_Teacher_List td.CTDTL_Yaku{
	width:100px;
	}
	#Call_Tell_Data_Teacher_List td.CTDTL_Gakunen{
	width:50px;
	}
	#Call_Tell_Data_Teacher_List td.CTDTL_Kyouka{
	width:100px;
	}

/*「Call」（通話記録）　FAX、資料、発送件名など各送付物の一覧*/
#Call_Tell_Data_Send_List{
}
	#Call_Tell_Data_Send_List td.CTDSL_Send_Name{
	width:250px;
	}


/*「hasso」（発送）発送一覧　検索結果一覧*/
#Hasso_Hasso_List{
}
#Hasso_Hasso_List div.result_list_scroll{
overflow-y:scroll;
height:400px;
border-bottom:1px solid #C0C0C0;
}
#Hasso_Hasso_List div.result_list{
height:500px;
background-color:#F0EDE1;
}

	#Hasso_Hasso_List td.HHL_Ymd{
	width:40px;text-align:center;
	}
	#Hasso_Hasso_List td.HHL_Hasso_Saki{
	width:100px;
	}
	#Hasso_Hasso_List td.HHL_Hasso_Subject{
	width:120px;
	}
	#Hasso_Hasso_List td.HHL_Program_Name{
	width:150px;
	}
	#Hasso_Hasso_List td.HHL_Btn{
	width:40px;
	}
	#Hasso_Hasso_List td.HHL_Ymd_lump{
	width:80px;text-align:center;
	}
	#Hasso_Hasso_List td.HHL_Status_lump{
	width:60px;text-align:center;
	}


/*「hasso」（発送）発送一覧　一括更新一覧*/
#Hasso_Lump_List{
}
	#Hasso_Lump_List td.HLL_Progress{
	width:130px;
	}
	#Hasso_Lump_List td.HLL_Ymd_Name{
	width:100px;
	}
	#Hasso_Lump_List td.HLL_Su{
	width:40px;
	}
	#Hasso_Lump_List td.HLL_Fin_Select{
	width:110px;
	}

/*「hasso」（発送）宛名一覧　検索結果一覧*/
#Hasso_Atena_List{
}
#Hasso_Atena_List div.result_list_scroll{
overflow-y:scroll;
height:400px;
border-bottom:1px solid #C0C0C0;
}
#Hasso_Atena_List div.result_list{
height:500px;
background-color:#F0EDE1;
}

	#Hasso_Atena_List td.HAL_School_Name{
	width:190px;
	}
	#Hasso_Atena_List td.HAL_Program_Name{
	width:150px;
	}
	#Hasso_Atena_List td.HAL_Teacher_Name{
	width:140px;
	}
	#Hasso_Atena_List td.HAL_Area_Name{
	width:40px;
	}

/*「recruit」（リクルート）実績一覧 POP*/
#Recruit_Jisseki_List{
}
	#Recruit_Jisseki_List td.RJL_Ymd{
	text-align:center;
	}
	#Recruit_Jisseki_List td.RJL_Program_Name{
	width:195px;
	}
	#Recruit_Jisseki_List td.RJL_Status{
	width:50px;
	}

/*「common」（共通）リクルーター選択 POP*/
#Common_Recruiter_Select{
}
	#Common_Recruiter_Select td.CRS_User_Name{
	width:110px;
	}
	#Common_Recruiter_Select td.CRS_Y{
	width:45px;text-align:center;
	}

/*「common」（共通）プログラム選択 POP*/
#Common_Program_Select{
}
	#Common_Program_Select td.CPS_Company_Name{
	width:35px;text-align:center;
	}
	#Common_Program_Select td.CPS_Y{
	width:45px;text-align:center;
	}
	#Common_Program_Select td.CPS_Project_Name{
	width:150px;
	}
	#Common_Program_Select td.CPS_Program_Type{
	width:100px;
	}

/*「common」（共通）学校選択 POP*/
#Common_School_Select{
}
	#Common_School_Select td.CSS_School_Area{
	width:70px;
	}
	#Common_School_Select td.CSS_School_Pref{
	width:80px;
	}
	#Common_School_Select td.CSS_School_Name{
	width:280px;
	}

/*「common」（共通）教員選択 POP*/
#Common_Teacher_Select{
}
	#Common_Teacher_Select td.CTS_School_Name{
	width:200px;
	}
	#Common_Teacher_Select td.CTS_Teacher_Status{
	width:70px;text-align:center;
	}
	#Common_Teacher_Select td.CTS_Teacher_Name{
	width:120px;
	}

/*「common」（共通）発送物選択 POP*/
#Common_Hassobutu_Select{
}
	#Common_Hassobutu_Select td.CHS_Company_Name{
	width:30px;text-align:center;
	}
	#Common_Hassobutu_Select td.CHS_Kyozai_Name{
	width:220px;
	}
	#Common_Hassobutu_Select td.CHS_Hokansaki{
	width:150px;
	}

/*「common」（共通）発送グループ選択 POP*/
#Common_Hasso_Group_Select{
}
	#Common_Hasso_Group_Select td.CHGS_Hasso_Group_Name{
	width:260px;
	}
	#Common_Hasso_Group_Select td.CHGS_Hokansaki{
	width:150px;
	}


/*「common」（共通）企業選択 POP*/
#Common_Company_Select{
}
	#Common_Company_Select td.CCS_Company_Name{
	width:230px;
	}
	#Common_Company_Select td.CCS_Company_Ryaku{
	width:100px;
	}

/*「common」（共通）講師選択 POP*/
#Common_Lecturer_Select{
}
	#Common_Lecturer_Select td.CLS_Company_Name{
	width:230px;
	}
	#Common_Lecturer_Select td.CLS_Lecturer_Name{
	width:110px;
	}

/*「zaiko」（在庫）入庫詳細　入庫お知らせ一覧*/
#Zaiko_Nyuko_Info_List{
}
	#Zaiko_Nyuko_Info_List td.ZNIL_Tyohyo_Name{
	width:120px;
	}
	#Zaiko_Nyuko_Info_List td.ZNIL_Saki{
	width:230px;
	}
	#Zaiko_Nyuko_Info_List td.ZNIL_Ymd{
	width:135px;
	}

/*「zaiko」（在庫）入庫一覧　検索結果一覧*/
#Zaiko_Nyuko_List{
}
	#Zaiko_Nyuko_List td.ZNL_Ymd{
	width:40px;text-align:center;
	}
	#Zaiko_Nyuko_List td.ZNL_Nyuko_Moto{
	width:130px;
	}
	#Zaiko_Nyuko_List td.ZNL_Nyuko_Saki{
	width:130px;
	}
	#Zaiko_Nyuko_List td.ZNL_Hasso_Butu{
	width:230px;
	}
	#Zaiko_Nyuko_List td.ZNL_Nyuko_Su{
	width:60px;text-align:right;
	}

/*「master」学校　検索結果一覧*/
#Master_School_List{
}
	#Master_School_List td.MSL_School_Name{
	width:180px;
	}
	#Master_School_List td.MSL_School_Addr{
	width:250px;
	}
	#Master_School_List td.MSL_School_Tel{
	width:130px;
	}
	#Master_School_List td.MSL_School_Area{
	width:70px;
	}

/*「master」学校詳細　所属教員一覧*/
#Master_School_Data_Teacher_List{}

	#Master_School_Data_Teacher_List td.MSDTL_Kikan{
	width:90px;
	}
	#Master_School_Data_Teacher_List td.MSDTL_Teacher{
	width:110px;
	}
	#Master_School_Data_Teacher_List td.MSDTL_Yaku{
	width:80px;
	}
	#Master_School_Data_Teacher_List td.MSDTL_Gakunen{
	width:30px;text-align:center;
	}
	#Master_School_Data_Teacher_List td.MSDTL_Kyoka{
	width:80px;
	}
	#Master_School_Data_Teacher_List td.MSDTL_Update{
	width:80px;
	}
		#Master_School_Data_Teacher_List div{
		text-align:right;
		}
/*「master」学校詳細　選択中の教員の、所属学校一覧*/
#Master_School_Data_Teacher_School_List{}

	#Master_School_Data_Teacher_School_List td.MSDTSL_Kikan{
	width:100px;
	}
	#Master_School_Data_Teacher_School_List td.MSDTSL_School{
	width:180px;
	}
	#Master_School_Data_Teacher_School_List td.MSDTSL_Yaku{
	width:80px;
	}
	#Master_School_Data_Teacher_School_List td.MSDTSL_Gakunen{
	width:30px;text-align:center;
	}
	#Master_School_Data_Teacher_School_List td.MSDTSL_Kyoka{
	width:80px;
	}
/*「master」学校詳細　変更・統合・移校・廃校・一覧*/
#Master_School_Data_Change_School_List{}

	#Master_School_Data_Change_School_List td.MSDCSL_Ymd{
	width:90px;text-align:center;
	}
	#Master_School_Data_Change_School_List td.MSDCSL_School{
	width:200px;
	}
	#Master_School_Data_Change_School_List td.MSDCSL_Comment{
	width:300px;
	}
	#Master_School_Data_Change_School_List td.MSDCSL_Tel{
	width:130px;text-align:center;
	}
	#Master_School_Data_Change_School_List td.MSDCSL_School_kind{
	width:65px;text-align:center;
	}
	#Master_School_Data_Change_School_List td.MSDCSL_Area{
	width:70px;text-align:center;
	}
	#Master_School_Data_Change_School_List td.MSDCSL_Addr{
	width:280px;
	}

/*「master」学校詳細　導入履歴*/
#Master_School_Data_Rireki_List{}

	#Master_School_Data_Rireki_List td.MSDRL_Ymd{
	width:50px;text-align:center;
	}
	#Master_School_Data_Rireki_List td.MSDRL_Program{
	width:230px;
	}
	#Master_School_Data_Rireki_List td.MSDRL_School{
	width:230px;
	}
	#Master_School_Data_Rireki_List td.MSDRL_Status{
	width:50px;
	}

/*「master」教員一覧　検索結果一覧*/
#Master_Teacher_List{}

	#Master_Teacher_List td.MTL_School{
	width:200px;
	}
	#Master_Teacher_List td.MTL_Teacher{
	width:110px;
	}
	#Master_Teacher_List td.MTL_Status{
	width:70px;text-align:center;
	}
	#Master_Teacher_List td.MTL_Gakunen{
	width:30px;text-align:center;
	}
	#Master_Teacher_List td.MTL_Kyoka{
	width:80px;
	}
	#Master_Teacher_List td.MTL_Sex{
	width:30px;text-align:center;
	}

/*「master」教員詳細　所属学校一覧*/
#Master_Teacher_Data_School_List{}

	#Master_Teacher_Data_School_List td.MTDSL_Kikan{
	width:100px;
	}
	#Master_Teacher_Data_School_List td.MTDSL_School{
	width:180px;
	}
	#Master_Teacher_Data_School_List td.MTDSL_Yaku{
	width:80px;
	}
	#Master_Teacher_Data_School_List td.MTDSL_Gakunen{
	width:30px;text-align:center;
	}
	#Master_Teacher_Data_School_List td.MTDSL_Kyoka{
	width:80px;
	}
	#Master_Teacher_Data_School_List td.MTDSL_Update{
	width:80px;
	}
		#Master_Teacher_Data_School_List div{
		text-align:right;
		}

/*「master」教員詳細　実施履歴*/
#Master_Teacher_Data_Rireki_List{}

	#Master_Teacher_Data_Rireki_List td.MTDRL_Ymd{
	width:50px;text-align:center;
	}
	#Master_Teacher_Data_Rireki_List td.MTDRL_Program{
	width:230px;
	}
	#Master_Teacher_Data_Rireki_List td.MTDRL_School{
	width:230px;
	}
	#Master_Teacher_Data_Rireki_List td.MTDRL_Status{
	width:50px;
	}

/*「master」発送ｸﾞﾙｰﾌﾟ一覧　検索結果一覧*/
#Master_Hasso_Group_List{
}
	#Master_Hasso_Group_List td.MHGL_Hasso_Group_Name{
	width:230px;
	}
	#Master_Hasso_Group_List td.MHGL_HokanSaki{
	width:230px;
	}
	#Master_Hasso_Group_List td.MHGL_Program_Name{
	width:180px;
	}

/*「master」発送物一覧　検索結果一覧*/
#Master_Hassobutu_List{
}
	#Master_Hassobutu_List td.MHL_CompanyRyakuName{
	width:30px;text-align:center;
	}
	#Master_Hassobutu_List td.MHL_Nengo{
	width:35px;text-align:center;
	}
	#Master_Hassobutu_List td.MHL_Project{
	width:60px;
	}
	#Master_Hassobutu_List td.MHL_HassobutuName{
	width:200px;
	}
	#Master_Hassobutu_List td.MHL_Hokansaki{
	width:50px;text-align:center;
	}
	#Master_Hassobutu_List td.MHL_HassobutuClass{
	width:50px;font-size:90%;
	}
	#Master_Hassobutu_List td.MHL_Target{
	width:60px;text-align:center;
	}
	#Master_Hassobutu_List td.MHL_Else{
	width:25px;text-align:center;
	}
	#Master_Hassobutu_List td.MHL_tag{
	width:30px;text-align:center;
	}

/*「master」企業一覧　検索結果一覧*/
#Master_Company_List{
}
	#Master_Company_List td.MCL_CompanyName{
	width:230px;
	}
	#Master_Company_List td.MCL_CompanyRyakuName{
	width:60px;text-align:center;
	}
/*「master」講師一覧　検索結果一覧*/
#Master_Koushi_List{
}
	#Master_Koushi_List td.MKL_CompanyRyakuName{
	width:60px;
	}
	#Master_Koushi_List td.MKL_KoushiName{
	width:110px;
	}
	#Master_Koushi_List td.MKL_KoushiNameKana{
	width:120px;
	}
	#Master_Koushi_List td.MKL_Program{
	width:180px;
	}
	#Master_Koushi_List td.MKL_Area{
	width:80px;
	}


/*「master」講師一覧　講師実績一覧*/
#Master_Koushi_List_Jisseki_List{
}
	#Master_Koushi_List_Jisseki_List td.MKLJL_Program{
	width:180px;
	}
	#Master_Koushi_List_Jisseki_List td.MKLJL_School{
	width:180px;
	}
	#Master_Koushi_List_Jisseki_List td.MKLJL_Ymd{
	width:80px;text-align:center;
	}
	#Master_Koushi_List_Jisseki_List td.MKLJL_Status{
	width:50px;
	}

/*「master」ユーザー一覧　検索結果一覧*/
#Master_User_List{
}
	#Master_User_List td.MUL_UserName{
	width:110px;
	}
	#Master_User_List td.MUL_UserNameKana{
	width:120px;
	}
	#Master_User_List td.MUL_UserSyozoku{
	width:40px;
	}
	#Master_User_List td.MUL_UserMaddr{
	width:200px;
	}
/*「master」（マスタ）プロジェクト一覧*/
#Master_Project_List{
}
	#Master_Project_List td.MPL_Company{
	width:230px;
	}
	#Master_Project_List td.MPL_ProjectName{
	width:150px;
	}

/*「master」（マスタ）教育委員会・市区町村一覧*/
#Master_Edu_List{
}
#Master_Edu_List div.result_list_scroll{
overflow-y:scroll;
height:300px;
border-bottom:1px solid #C0C0C0;
}
#Master_Edu_List div.result_list{
height:500px;
background-color:#F0EDE1;
}
	#Master_Edu_List td.MEL_TTL{
	width:723px;text-align:center;
	}
	#Master_Edu_List td.MEL_Sikutyoson{
	width:136px;text-align:center;
	}
/*「master」事業所一覧　検索結果一覧*/
#Master_Jigyosyo_List{
}
	#Master_Jigyosyo_List td.MJL_JigyosyoName{
	width:230px;
	}
	#Master_Jigyosyo_List td.MJL_JigyosyoCd{
	width:50px;
	}
	#Master_Jigyosyo_List td.MJL_JigyosyoTel{
	width:130px;
	}

/*「common」（共通）メール送信先・選択　検索結果一覧 POP*/
#Common_Mailsend_Saki_Select{
}
	#Common_Mailsend_Saki_Select td.CMSS_Company_Name{
	width:230px;
	}
	#Common_Mailsend_Saki_Select td.CMSS_Tanto_Name{
	width:100px;
	}

/*「Jisshi」（実施台帳）実施台帳一覧　検索結果一覧*/
#Jisshi_List{
}
#Jisshi_List div.result_list_scroll{
overflow-y:scroll;
height:300px;
border-bottom:1px solid #C0C0C0;
}
#Jisshi_List div.result_list{
height:400px;
background-color:#F0EDE1;
}

	#Jisshi_List td.JL_Moushikomi_No{
	width:60px;text-align:center;
	}
	#Jisshi_List td.JL_Program_Name{
	width:120px;width:200px;
	}
	#Jisshi_List td.JL_School_Name{
	width:150px;
	}
	#Jisshi_List td.JL_Moushikomi_Ymd{
	width:40px;text-align:center;
	}
	#Jisshi_List td.JL_progress{
	width:190px;
	}
	#Jisshi_List td.JL_Btn{
	width:70px;vertical-align:bottom;
	}


/*「Jisshi」（実施進捗一覧）　検索結果一覧*/
#Jisshi_Process_List{
}
#zentai{
position:relative;width:750px;height:450px;
}

#kotei {
width:150px;
overflow-x:hidden;overflow-y:hidden;
}

#header_h {
   position: absolute;left:150px;top:0px;
   width:600px;
   overflow-x:hidden;overflow-y:hidden;
   }
#header_v {
   position: absolute;left:0px;top:41px;
   width:150px;height:400px; 
   overflow-x:hidden;overflow-y:hidden;background-color:#F0EDE1;
   }
#datas {
   position: absolute;left:150px;top:41px;
   overflow-x:scroll;overflow-y:scroll;
   width:600px;height:400px;background-color:#F0EDE1;
   }

	#Jisshi_Process_List td.JPL_School_Name{
	width:150px;height:40px;
	}
	#Jisshi_Process_List td.JPL_Teacher_Name{
	width:100px;height:40px;
	
	}
	#Jisshi_Process_List td.JPL_Progress_Name{
	width:100px;height:40px;color:#000000;text-align:center;

	}
	#Jisshi_Process_List td.JPL_Progress_Ymd{
	width:70px;height:40px;text-align:center;
	}
	#Jisshi_Process_List td.JPL_Progress_Ymd_late{
	width:70px;height:40px;text-align:center;
	color:#FFFFFF;background-color:#FF0000;
	font-weight:bold;font-size:90%;
	}

	#Jisshi_Process_List td.JPL_EnqSu{
	width:80px;
	}


/*「General」（総合）　架電 検索結果一覧*/
#General_Call_List{
}

	#General_Call_List td.GCL_PrefShikutyo{
	width:60px;
	}
	#General_Call_List td.GCL_School{
	width:120px;
	}
	#General_Call_List td.GCL_Program{
	width:120px;
	}
	#General_Call_List td.GCL_CallYmd{
	width:40px;text-align:center;
	}
	#General_Call_List td.GCL_User{
	width:50px;
	}
	#General_Call_List td.GCL_Status{
	width:120px;
	}
	#General_Call_List td.GCL_Comment{
	width:160px;
	}

/*「General」（総合）　申込　検索結果一覧*/
#General_Moshikomi_List{
}

	#General_Moshikomi_List td.GML_Pref{
	width:60px;
	}
	#General_Moshikomi_List td.GML_School{
	width:170px;
	}
	#General_Moshikomi_List td.GML_Program{
	width:170px;
	}
	#General_Moshikomi_List td.GML_MoshikomiYmd{
	width:40px;text-align:center;
	}
	#General_Moshikomi_List td.GML_MoshikomiGakunen{
	width:40px;text-align:center;
	}
	#General_Moshikomi_List td.GML_MoshikomiStudentSu{
	width:40px;text-align:center;
	}
	#General_Moshikomi_List td.GML_KoushiName{
	width:100px;
	}
	#General_Moshikomi_List td.GML_OldJisseki{
	width:50px;
	}

/*「General」（総合）　実績　検索結果一覧*/
#General_Jisseki_List{
}

	#General_Jisseki_List td.GJL_School{
	width:180px;
	}
	#General_Jisseki_List td.GJL_Program{
	width:180px;
	}
	#General_Jisseki_List td.GJL_TeacherName{
	width:120px;
	}
	#General_Jisseki_List td.GJL_MoshikomiYmd{
	width:40px;text-align:center;
	}
	#General_Jisseki_List td.GJL_JisshiYmd{
	width:40px;text-align:center;
	}


/*「General」（総合）　アサイン　検索結果一覧*/
#General_Asain_List{
}

	#General_Asain_List td.GAL_School{
	width:170px;
	}
	#General_Asain_List td.GAL_TeacherName{
	width:80px;
	}
	#General_Asain_List td.GAL_Addr{
	width:150px;
	}
	#General_Asain_List td.GAL_Tel{
	width:110px;
	}
	#General_Asain_List td.GAL_KibouYmd{
	width:40px;text-align:center;
	}
	#General_Asain_List td.GAL_KoushiName{
	width:140px;
	}

/*「General」（総合）　リクルーター管理　検索結果一覧*/
#General_Recruiter_List{
}
#General_Recruiter_List div.result_list_scroll{
overflow-x:scroll;
width:750px;
border-bottom:1px solid #C0C0C0;
}
#General_Recruiter_List div.result_list{
width:1200px;
background-color:#F0EDE1;
}
	#General_Call_List td.GRL_Recruiter{
	width:60px;
	}
	#General_Recruiter_LIST td.GRL_Program{
	width:120px;
	}
	#General_Recruiter_LIST td.GRL_CallYmd{
	width:60px;text-align:center;
	}
	#General_Recruiter_LIST td.GRL_School{
	width:120px;
	}
	#General_Recruiter_LIST td.GRL_SchoolKind{
	width:60px;
	}
	#General_Recruiter_LIST td.GRL_Area{
	width:60px;
	}
	#General_Recruiter_LIST td.GRL_Pref{
	width:60px;
	}
	#General_Recruiter_LIST td.GRL_Shikutyoson{
	width:60px;
	}
	#General_Recruiter_LIST td.GRL_Status{
	width:120px;
	}
	#General_Recruiter_LIST td.GRL_Time{
	width:80px;text-align:center;
	}

/*「top」（top）　伝言板　検索結果一覧*/
#Top_Bbs_List{
margin-left:20px;
}
#Top_Bbs_List div.TBL_OutLine{
margin:0px 0 10px 0;
}
	#Top_Bbs_List table.TBL_J{
	background-image: url('../img/ico_juuyou.png');
	background-repeat: no-repeat;
	background-position: 420px -7px;
	}

	#Top_Bbs_List td.TBL_InLine{
	width:500px;
	}
	#Top_Bbs_List td.TBL_Mess{
	width:650px;
	border:1px dashed #C0C0C0;word-wrap: break-word;
	}

/*「Master」（マスタ）　権限一覧　検索結果一覧*/
#Master_Kengen_List{
}
	#Master_Kengen_List td.MKL_Kengen_Name{
	width:180px;
	}
	#Master_Kengen_List td.MKL_Shozoku{
	width:60px;
	}

/*「Master」（マスタ）　権限詳細　*/
#Master_Kengen_Page_List{
}
#Master_Kengen_Page_List table{
margin-left:100px;
}
	#Master_Kengen_Page_List td.MKPL_PageName{
	width:180px;
	}
	#Master_Kengen_Page_List td.MKPL_PageDetail{
	width:300px;
	}
	#Master_Kengen_Page_List td.MKPL_TabName{
	width:150px;
	}

/*「common」（共通）都道府県一括選択 POP*/
#Common_Pref_Lump_Select{
margin-left:20px;
width:450px;
}

	#Common_Pref_Lump_Select td.CPLS_Area{
	width:70px;
	}
	#Common_Pref_Lump_Select td.CPLS_Pref{
	width:80px;
	}

/*「General」（総合）　リクルーティングコスト集計　検索結果一覧*/
#General_Recruit_Cost_LIST{
}
#General_Recruit_Cost_LIST div.result_list_scroll{
overflow-x:scroll;
width:760px;
border-bottom:1px solid #C0C0C0;
}
#General_Recruit_Cost_LIST div.result_list{
width:1000px;
background-color:#F0EDE1;
padding-left:10px;
}

/*「common」（共通）ユーザー選択 POP*/
#Common_User_Select{
}
	#Common_User_Select td.CUS_User_Name{
	width:230px;
	}

/*「chohyo」（帳票）報告業務　*/
#Chohyo_Koushi_List{}

#Chohyo_Koushi_List div.result_list_scroll{
overflow-y:scroll;
height:300px;
border-bottom:1px solid #C0C0C0;
}
#Chohyo_Koushi_List div.result_list{
height:400px;
background-color:#F0EDE1;
}


	#Chohyo_Koushi_List td.CKL_Koushi_Name{
	width:120px;
	}
	#Chohyo_Koushi_List td.CKL_Koushi_Kana{
	width:150px;
	}
	#Chohyo_Koushi_List td.CKL_Area{
	width:80px;
	}

/*「chohyo」（帳票）講師アサイン依頼票　*/
#Chohyo_Jisshikou_List{}

#Chohyo_Jisshikou_List div.result_list_scroll{
overflow-y:scroll;
height:300px;
border-bottom:1px solid #C0C0C0;
}
#Chohyo_Jisshikou_List div.result_list{
height:400px;
background-color:#F0EDE1;
}


	#Chohyo_Jisshikou_List td.CJL_School_Name{
	width:200px;
	}
	#Chohyo_Jisshikou_List td.CJL_Address{
	width:230px;
	}
	#Chohyo_Jisshikou_List td.CJL_Tel{
	width:120px;
	}
	#Chohyo_Jisshikou_List td.CJL_Jisseki{
	width:60px;text-align:center;
	}


Schoolhyo

/*「chohyo」（帳票）学校情報連絡票　*/
#Chohyo_Schoolhyo_List{}

#Chohyo_Schoolhyo_List div.result_list_scroll{
overflow-y:scroll;
height:300px;
border-bottom:1px solid #C0C0C0;
}
#Chohyo_Schoolhyo_List div.result_list{
height:400px;
background-color:#F0EDE1;
}
	#Chohyo_Schoolhyo_List td.CSL_School_Name{
	width:200px;
	}
	#Chohyo_Schoolhyo_List td.CSL_Jisshibi{
	width:80px;text-align:center;
	}
	#Chohyo_Schoolhyo_List td.CSL_Jigen{
	width:80px;text-align:center;
	}
	#Chohyo_Schoolhyo_List td.CSL_Utiawasebi{
	width:80px;text-align:center;
	}
	#Chohyo_Schoolhyo_List td.CSL_Utiawase_Time{
	width:100px;text-align:center;
	}
	#Chohyo_Schoolhyo_List td.CSL_Btn{
	width:80px;
	}


/*　「koushi」（講師管理）講師管理　*/
#Koushi_Jisshikou_List{}

#Koushi_Jisshikou_List div.result_list_scroll{
overflow-y:scroll;
height:300px;
border-bottom:1px solid #C0C0C0;
}
#Koushi_Jisshikou_List div.result_list{
height:400px;
background-color:#F0EDE1;
}

	#Koushi_Jisshikou_List td.KJL_School_Name{
	width:170px;
	}
	#Koushi_Jisshikou_List td.KJL_Pref{
	width:70px;
	}
	#Koushi_Jisshikou_List td.KJL_Jisshibi{
	width:80px;
	}
	#Koushi_Jisshikou_List td.KJL_Koushi{
	width:225px;
	}
	#Koushi_Jisshikou_List td.KJL_Btn{
	width:160px;
	}


/*　「csv_read」（申込データ読込）実施台帳一覧　*/
#Moshikomi_Read_List{}

#Moshikomi_Read_List div.result_list_scroll{
overflow-y:scroll;
height:450px;
border-bottom:1px solid #C0C0C0;
}
#Moshikomi_Read_List div.result_list{
height:400px;
background-color:#F0EDE1;
margin-bottom:5px;
}

	#Moshikomi_Read_List td.MRL_Ymd{
	width:45px;text-align:center;
	}
	#Moshikomi_Read_List td.MRL_School_Name{
	width:180px;
	}
	#Moshikomi_Read_List td.MRL_Addr{
	width:200px;
	}
	#Moshikomi_Read_List td.MRL_Tel{
	width:110px;
	}
	#Moshikomi_Read_List td.MRL_Teacher_Name{
	width:115px;
	}

